.git
.env
.env.backup
vendor
node_modules
storage/*.key
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
database/*.sqlite
database/*.sqlite-journal
public/storage
tests
Dockerfile
.dockerignore
render.yaml
summary.md